/* for Desktop and Laptop */

.mainProfileDiv {
  padding-left: 6%;
  padding-top: 3%;
}

.skills {
  color: white;
  float: left;
  width: 40%;
}

.experience {
  color: white;
  float: right;
  width: 55%;
}

.skill {
  color: red;
  font-family: URW Chancery L, cursive;
  text-decoration: underline;
  text-decoration-style: double;
  text-decoration-color: #91924ac4;
}

.skillSection {
  margin-top: 5%;
  margin-bottom: 7%;
}

.skillHeading {
  padding-left: 3%;
  color: #bc90de;
  font-family: Comic Sans MS;
  font-weight: bold;
  font-size: 18px;
}

.skillHeading:hover {
  color: #d44545;
  text-decoration: underline;
  text-decoration-color: white;
  text-shadow: 1px 2px black;
}

.skillGrade {
  height: 5px;
  background-color: grey;
  width: 80%;
  margin-left: 3%;
}

.nodeJsSkill {
  background-color: blue;
  width: 65%;
  height: 5px;
}

.gitSkill {
  background-color: blue;
  height: 5px;
  width: 60%;
}

.htmlSkill {
  background-color: blue;
  height: 5px;
  width: 55%;
}

.reactSkill {
  background-color: blue;
  height: 5px;
  width: 45%;
}

.phpMySql {
  background-color: blue;
  height: 5px;
  width: 55%;
}

.mongoDb {
  background-color: blue;
  height: 5px;
  width: 50%;
}

.postgreSql {
  background-color: blue;
  height: 5px;
  width: 45%;
}

.knexJs {
  background-color: blue;
  height: 5px;
  width: 50%;
}

.java {
  background-color: blue;
  height: 5px;
  width: 55%;
}

.workExperience {
  padding-top: 5%;
  padding-left: 4%;
}

.nameAndYear {
  width: 100%;
}

/* for tablets */

@media screen and (max-width: 1000px) {
  .skill {
    font-size: 20px;
  }
  .skillHeading {
    font-size: 13px;
  }
}


/* for mobilePhones */

@media screen and (max-width: 767px) {
  .skill {
    font-size: 35px;
  }
  .skills {
    width: 80%;
  }
  .experience {
    width: 80%;
  }
  .skillHeading {
    font-size: 15px;
  }
}