/* for Desktop and Laptop */

.divProjectTab {
    padding-top: 5%;
    padding-left: 8%;
}

.projectHeading > .a{
    font-family: Oleo Script;
    font-size: 30px;
    color: #4ce699;
    text-shadow: 4px 4px #a91919;
}


/* for tablets */

@media screen and (max-width: 1000px) {}


/* for mobilePhones */

@media screen and (max-width: 767px) {}