/* for Desktop and Laptop */

.fakeDiv {
    position: relative;
    height: 50%;
    padding: 4%;
}

.dataHolder {
    width: 100%;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.5);
}

.socialMediaHolder {
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.5);
  width: 30%;
  background: #262524;
  float: left;
}

.contentHolder {
box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.5);
width: 70%;
float: right;

}

.topBackGround {
    padding: 10%;
    background-color: blue;
}

.profileImage {
    text-align: center;
    margin-top: -6%;
}

.profileImage > img {
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.5);
}

.socializeRow {
    padding-left: 5%;
    margin-top: 5%;
}

.socialization {
    font-family: cursive;
    height: 40px;
    width: 35%;
    background-color: grey;
    padding: 3%;
    margin-left: 5%;
}

.socialization > b {
    font-family: Brush Script Std cursive;
}

.socializationLinks > ul li a {
    font-size: 37px;
    color: red;
    display: block;
    text-decoration: none;
}

.socializationLinks > ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.socializationLinks > ul li {
    position: relative;
    float: left;
    text-align: center;
    margin-right: 20px;
}

.socializationLinks {
    margin-left: 2%;
    padding-top: 5%;
}

.socializationLinks > span {
    height: 5%;
    width: 5%;
}


/* for tablets */

@media screen and (max-width: 1000px) {
    .topBackGround {
        padding: 12%;
    }
    .socialization {
        width: 60%;
    }
    .socializationLinks > ul li a {
        font-size: 25px;
    }
}


/* for mobilePhones */

@media screen and (max-width: 767px) {
    .socialMediaHolder {
        width: 100%;
    }
    .contentHolder {
        width: 100%;
    }
    .topBackGround {
        padding: 10%;
    }
    .socialization {
        width: 35%;
    }
    .socializationLinks > ul li a {
        font-size: 30px;
    }
}