/* for Desktop and Laptop */

button.active {
  background-color: blue;
  color: rgb(204, 200, 200);
}

.fakeDiv {
  position: relative;
  height: 50%;
  padding: 4%;
}

.dataHolder {
  width: 100%;
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.5);
}

.socialMediaHolder {
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.5);
  width: 30%;
  background: #262524;
  float: left;
  min-height: 31.3em;
}

.contentHolder {
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.5);
  width: 70%;
  float: right;
}

.topBackGround {
  padding: 10%;
  background-color: blue;
}

.profileImage {
  text-align: center;
  margin-top: -6%;
}

.profileImage > img {
  box-shadow: 6px 6px black;
  transition: transform 0.4s, box-shadow 0.4s;
  transition-property: transform, box-shadow;
  transition-duration: 0.4s, 0.4s;
  transition-timing-function: ease, ease;
  transition-delay: 0s, 0s;
  border-radius: 20px;
}

.profileImage > img:hover {
  transform: translate3d(6px, 6px, 0);
  box-shadow: 0px 0px;
}

.socializeRow {
  padding-left: 5%;
  margin-top: 5%;

  p {
    color: #d5dc93;
    font-weight: 600;
    font-size: 1.2rem;
  }
}

.socialization {
  font-family: Pacifico;
  height: 40px;
  width: 40%;
  background-color: grey;
  padding: 3%;
  margin-left: 5%;
  box-shadow: 7px 7px #1b0308;
  transition: transform 0.4s, box-shadow 0.4s;
  transition-property: transform, box-shadow;
  transition-duration: 0.4s, 0.4s;
  transition-timing-function: ease, ease;
  transition-delay: 0s, 0s;
  border-radius: 10px;
}

.socialization:hover {
  transform: translate3d(7px, 7px, 0);
  box-shadow: 0px 0px #1b0308;
}

.socialization > strong {
  font-family: Oleo Script;
}

.socializationLinks > ul li a {
  font-size: 30px;
  color: grey;
  display: block;
  text-decoration: none;
}

.socializationLinks > ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.socializationLinks > ul li {
  position: relative;
  float: left;
  text-align: center;
  margin-right: 20px;
}

.socializationLinks {
  margin-left: 5%;
  /* padding-top: 5%; */
}

.socializationLinks > span {
  height: 5%;
  width: 5%;
}

ul#socialList > li a:hover {
  color: blue;
  text-shadow: 3px -1px white;
  transform: translate3d(0, -6px, -6px);
}

ul#headingList {
  text-decoration: none;
}

ul#headingList > li {
  padding-right: 5%;
  width: 14%;
  margin-right: 2%;
}

li.nav-item > button:hover {
  box-shadow: 4px 4px black;
  background-color: blue;
  color: red;
  zoom: 1;
  text-decoration: none;
}

li.nav-item > button {
  width: 100px;
}

.contentData {
  background-color: #262524;
  min-height: 27em;
}

.contentHeading {
  padding: 2%;
}

.socialization:hover {
  color: red;
  zoom: 1;
}

.footerContent {
  padding: 1%;
  color: #b3d471;
  background-color: #423232;
  margin-bottom: 5%;
  width: 100%;
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.5);
  font-family: Cursive;
}

.footerContent > p {
  width: 100%;
}

/* for tablets */

@media screen and (max-width: 768px) {
  .topBackGround {
    padding: 13%;
  }
  .socialization {
    width: 60%;
  }
  .socializationLinks {
    margin-left: 10%;
    ul {
      li {
        a {
          font-size: 25px;
        }
      }
    }
  }
  li.nav-item > button {
    width: 70px;
  }
  ul#headingList > li {
    padding-right: 0%;
    width: 14%;
    margin-right: 3%;
  }
  .contentData {
    min-height: 21.3em;
  }
  .socialMediaHolder {
    min-height: 25em;
  }
}

/* for mobilePhones */

@media screen and (max-width: 480px) {
  .footerContent,
  .dataHolder {
    margin-left: 0.5%;
  }
  .socialMediaHolder {
    width: 100%;
  }
  .contentHolder {
    width: 100%;
  }
  .topBackGround {
    padding: 10%;
  }
  .socialization {
    width: 36%;
  }
  .socializationLinks {
    margin-left: 0%;
    margin-bottom: 0.5rem;
  }
  .socializationLinks > ul li a {
    font-size: 30px;
  }
  li.nav-item > button {
    width: 70px;
  }
  .contentHeading {
    padding-top: 2%;
    padding-left: 0%;
  }
  ul#headingList {
    margin-left: 0%;
  }
  ul#headingList > li {
    margin-right: 6%;
    margin-left: 3%;
  }
  ul#headingList > button {
    padding-right: 2%;
    width: 15%;
  }
  .footerContent {
    margin-bottom: 15%;
  }
  li.nav-item > button {
    font-size: 12px;
  }
}
