/* for Desktop and Laptop */
.a {
  font-weight: bold;
  font-family: "Milkshake", Cursive;
  color: #520a0a;
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-iteration-count: 1;
  display: inline-block;
}

.b {
  color: rgb(18, 9, 68);
  font-family: "La Belle Aurore", cursive;
}

.a:hover {
  color: orange;
  /* animation: rubberBand 5s infinite; */
  animation-name: rubberBand;
}

.b:hover {
  color: red;
}

@keyframes rubberBand {
  from {
    transform: scale3d(1, 1, 1);
  }
  30% {
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    transform: scale3d(1.05, 0.95, 1);
  }
  to {
    transform: scale3d(1, 1, 1);
  }
}

.mainDiv {
  padding-left: 6%;
  padding-bottom: 3%;
}

.intro {
  float: left;
  text-align: left;
  padding-left: 4%;
  padding-top: 5%;
  width: 70%;
}

.resumeHolder {
  float: right;
  width: 30%;
}

.hello {
  background-color: grey;
  width: 45%;
  font-size: 65%;
  text-align: center;
}

.myName {
  background-color: #616161;
  margin-top: 3%;
  width: 75%;
  text-align: center;
}

.jImage > img {
  width: 10%;
}

.developer {
  background-color: #696969;
  width: 75%;
  margin-top: 3%;
  text-align: center;
}

.desig {
  background-color: #696969;
  width: 90%;
  margin-top: 3%;
  text-align: center;
  font-size: 1.75rem;
}

.coffee {
  font-family: fantasy;
  background-color: #9895d0;
  margin-top: 5%;
  width: 60%;
  font-size: 40px;
}

.coffee > span {
  font-size: 48px;
  color: red;
}

.iLove {
  color: red;
}

.resumeHeader {
  padding-left: 10%;
}

.resumeHeaderContent {
  box-shadow: 0 0 20px 1px rgb(122, 120, 146);
  padding: 2%;
  width: 80%;
  margin-top: 15%;
  background-color: blue;
  font-family: system-ui;
  text-align: center;
}

.resumeDiv {
  margin-top: 15%;
  margin-left: 8%;
  width: 80%;
}

.resumeButton {
  background-color: silver;
  border-radius: 90px;
  width: 100%;
  color: red;
  font-family: cursive, sans-serif;
}

.resumeButton:hover {
  color: blue;
  cursor: pointer;
}

.coffeeColor > i{
  color: #6f4e37;
}

/* for tablets */

@media screen and (max-width: 1000px) {
  .resumeHeaderContent {
    font-size: 10px;
  }
  .myName {
    width: 85%;
  }
  .hello {
    width: 55%;
  }
  .myName {
    font-size: 30px;
    width: 80%;
  }
  .developer {
    width: 85%;
    font-size: 30px;
  }
  .desig {
    width: 90%;
    font-size: 1.40rem;
  }
  .desig > h2 {
    font-size: 20px;
  }
  .coffee {
    width: 65%;
    font-size: 25px;
  }
  .coffee > i {
    font-size: 25px;
  }
  .resumeButton {
    font-size: 10px;
  }
}

/* for mobilePhones */

@media screen and (max-width: 767px) {
  .resumeHeaderContent {
    font-size: 15px;
  }
  .intro {
    width: 90%;
  }
  .hello {
    width: 70%;
    font-size: 60%;
  }
  .myName {
    width: 97%;
  }
  .developer {
    width: 97%;
  }
  .desig {
    width: 100%;
  }
  .coffee {
    font-size: 25px;
    width: 75%;
  }
  .coffee > i {
    font-size: 30px;
  }
  .resumeHolder {
    width: 100%;
    text-align: center;
  }
  .resumeDiv {
    text-align: center;
    margin-top: 5%;
  }
  .resumeButton {
    height: 35px;
    margin-top: 3%;
    margin-bottom: 5%;
  }
}
